* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left-side {
    position: relative;
    background-color: #003147;
    padding: 30px;
}
.container .right-side {
    position: relative;
    background-color: #fff;
    padding: 30px;
    color: black;
}
.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .profile-img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile .profile-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile h2 {
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 1.4em;
}
hr {
    margin: 10px;
    width: 60%;
    height: 2px;
    border: none;
    background-color: gray;
}
.contact-info {
    padding-top: 20px;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
.contact-info ul {
    position: relative;
}
.contact-info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 15px;
}
.contact-info ul li span {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
.skills-info {
    padding-top: 20px;
    padding: 10px;
    width: 100%;
}
.skills-info ul {
    position: relative;
}
.skills-info ul li {
    position: relative;
    list-style: none;
    margin: 20px 0;
    cursor: pointer;
}
.skills-info .text {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
.skills-info .percent {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
.language {
    margin-left: 0px;
    padding-top: 20px;
}
.language ul li {   
    float: left;
    list-style: none;
    cursor: pointer;
    padding: 5px;
}
.language .text {
    padding: 5px;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
.interest {
    padding-top: 20px;
    padding-bottom: 30px;
}
.interest-title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}
.interest ul {
    position: relative;
}
.interest ul li {
    float: left;
    position: relative;
    list-style: none;
    cursor: pointer;
    margin-left: 40px;
}
.interest .text {
    display: inline-block;
    padding: 5px;
    color: #000;
    font-weight: 300;
}
.interest ul li .icon {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
}
.interest ul li span {
    color: #000;
    font-weight: 300;
}

/* right side */
.right-side {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.right-title {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-align: center;
}
.right-side .education-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.education-table td, .education-table th {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
}
.education-table th {
    background-color: #003145;
    color: #fff;
}
.education-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
.experience {
    padding: 10px;
}
.experience-title {
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.experience ul li {   
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.experience span {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.experience .name {
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
}
.experience-desc {
    font-size: 14px;    
    font-family: 'Poppins', sans-serif;
}
.project {
    padding: 10px;
}
.project-title {
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.project ul li {   
    list-style-type: "\2192";
    margin: 10px 0;
    cursor: pointer;
}
.project-desc {
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}
.project span {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: left;
}